/account-requester/target/
/account-requester/deploy/account-requester-0.0.1-SNAPSHOT.jar
/account-requester/logs/

/account-solver/target/
/account-solver/deploy/account-solver-0.0.1-SNAPSHOT.jar
/account-solver/logs/
